<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/mycss.css}">
</head>
<body class="homepage">
<img th:src="@{/images/image1.png}">
<br>
<br>
<a href="/add1">
<button class="buttonPage1">Add Customers</button>
</a>
<br>
<a href="/add2">
<button class="buttonPage1">Add Items</button>
</a>
<br>
<a href="/view1">
<button class="buttonPage1">View Customers</button>
</a>
<br>
<a href="/view2">
<button class="buttonPage1">View Items</button>
</a>
</body>
  <script language='javascript'> 
    if(window.opener==null)
    { 
        window.opener=null; 
        window.close(); 
        window.open('default.aspx','','toolbar=no,menubar=no,location=no,status=no'); 
    } 
</script>
</html>
